.industries-selector__wrapper {
	margin-top: 50px;

	display: flex;
	background: #0d1319;
	border: 1px solid rgba(255, 255, 255, 0.03);
	border-radius: 24px;
	overflow-x: auto;

	width: fit-content;
}
.technologiesContainer {
	width: 80%;
	display: flex;
	justify-content: center;
	border-radius: 24px;
}

.industries-selector-button {
	height: 70px;
	text-wrap: nowrap;
	border-radius: 12px;
	margin-block: 10px;
	background: none;
	border: none;
	color: rgba(255, 255, 255, 0.5);
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size:18px;
	align-items: center;
	cursor: pointer;
	padding-inline: 36px;
}

.active-selector-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 10px;

	color: white;
	border: none;
	text-wrap: nowrap;
	padding-inline: 36px;
	height: 70px;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	background: transparent;
	border-radius: 12px;
	position: relative;

	isolation: isolate;
}

.active-selector-button::before {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	background: radial-gradient(
			50% 50% at 50% 50%,
			rgba(0, 225, 244, 0.15) 0%,
			rgba(255, 255, 255, 0) 100%
		),
		linear-gradient(
			180deg,
			rgba(255, 255, 255, 0.1) 0%,
			rgba(255, 255, 255, 0) 100%
		);
	width: 0%;
	height: 0%;
	z-index: -1;

	border-radius: inherit;
	animation: 0.3s buttonBg linear;
	animation-fill-mode: forwards;
}

@keyframes buttonBg {
	0% {
		opacity: 0;
		left: 50%;
		width: 0%;
		height: 0%;
	}
	50% {
		top: 10%;
		left: 10%;
		width: 80%;
		height: 50%;
	}
	100% {
		opacity: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: inherit;
	}
}

.industries-information__wrapper {
	margin-top: 40px;

	width: 1820px;
	height: 650px;

	border-radius: 24px;
	background-size: cover;
}

.industries-information__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;

	width: 496px;
	height: 230px;
	margin-top: 380px;
	margin-left: 40px;
}

.industries-information__header {
	width: 292px;
	height: 50px;

	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 100%;
	/* identical to box height, or 50px */

	display: flex;
	align-items: center;
	letter-spacing: -0.05em;

	/* White/100 */

	color: #ffffff;
}

.industries-information__description {
	width: 496px;
	height: 156px;

	/* Text 1 Medium */

	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 130%;
	/* or 26px */

	letter-spacing: -0.05em;

	/* White/60 */

	color: rgba(255, 255, 255, 0.6);
}

.techstack-header {
	height: 126px;

	/* Title 2 Bold */

	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 70px;
	line-height: 90%;
	/* or 63px */

	display: flex;
	align-items: center;
	text-align: center;
	align-self: center;
	letter-spacing: -2px;

	/* Gradient/Title */

	background: linear-gradient(
		135deg,
		#ffffff 30%,
		rgba(255, 255, 255, 0.38) 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.techstack-items__wrapper {
	width: 1440px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 44px;
	gap: 20px;
}

.techstack-items__wrapper-blockchain {
	width: 1920px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* justify-content: space-between; */

	margin-top: 44px;
}

.techstack-item {
	width: 460px;
	height: 270px;

	background: #101010;
	border: 1px solid rgba(255, 255, 255, 0.03);
	border-radius: 24px;
	align-items: center;
	flex-direction: column;
	display: flex;
	justify-content: space-evenly;

    animation: identifier 1s linear forwards;
}
@keyframes identifier {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.techstack-item__name {
	font-family: sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 130%;
	/* identical to box height, or 26px */

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.05em;

	color: #757575;
}

@media screen and (max-width: 1618px) {
	.technologiesContainer {
		width: 90%;

		justify-content: center;
	}
}
@media screen and (max-width: 1400px) {
	.technologiesContainer  {
		margin-left: 5%;
		width: 95%;
		/* overflow-y: scroll; */
	}
}
/* @media screen and (max-width: 1500px) {
	.techstack-items__wrapper {
		width: 1370px;
	}
	.techstack-item {
		width: 433px;
	}
	.techstack-item img {
		width: 50%;
	}
} */
@media screen and (max-width: 1440px) {
	.techstack-items__wrapper-blockchain {
		width: 1400px;
	}

	.industries-information__wrapper {
		width: 100%;
	}

	.techstack-header {
		width: 600px;
	}
	.techstack-items__wrapper {
		width: 90%;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.techstack-item {
		width: 48%;
	}
	.techstack-item img{
		width: 95%;
	}
}
@media screen and (max-width: 1200px) {
	
}
@media screen and (max-width: 1150px) {
	.technologiesContainer {
		width: 95%;
		margin-left: 5%;
		justify-content: flex-start;
		border-radius: 10px;
	}
	.industries-selector__wrapper {
		border-radius: 10px;
	}
}
@media screen and (max-width: 900px) {
	.technologiesContainer {
		overflow-y: hidden;
	}
}
@media screen and (max-width: 950px) {
	.active-selector-button {
		font-size: 13px;
	}
}
@media screen and (max-width: 800px) {
	.techstack-header {
		width: 600px;
	}
	.industries-selector-button {
	
		padding-inline: 26px;
	}
	.active-selector-button {
		padding-inline: 26px;
	}
	.techstack-item {
		gap: 10px;
		border-radius: 11px;
	}
}
@media screen and (max-width: 550px) {
	.industries-selector-button {
		font-size: 10px;
	}
	.active-selector-button {
		font-size: 10px;
	}
	.industries-selector-button {
		padding-inline: 14px;
		font-size: 10px;
	}
	.active-selector-button {
		padding-inline: 14px;
	}
	.techstack-items__wrapper {
		gap: 10px;
	}
}
@media screen and (max-width: 375px) {
	.industries-information__wrapper {
		width: 335px;
		height: 305.72px;
	}

	.industries-selector__wrapper {
		width: auto;
		border-radius: 7px;
	}

	.active-selector-button {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: 10px;
		color: white;
		border: none;

		height: 70px;
		font-family: 'Inter', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		background: radial-gradient(
					50% 50% at 50% 50%,
					rgba(0, 225, 244, 0.15) 0%,
					rgba(255, 255, 255, 0) 100%
				)
				/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
			linear-gradient(
				180deg,
				rgba(255, 255, 255, 0.1) 0%,
				rgba(255, 255, 255, 0) 100%
			);
		border-radius: 12px;
		text-wrap: nowrap;
	}

	.industries-information__header {
		font-size: 17px;
	}

	.industries-information__description {
		font-size: 10px;
	}

	.industries-information__description {
		width: 300px;
	}

	.industries-information__wrapper {
		margin-top: 40px;

		width: 300px;
		height: 250px;

		border-radius: 24px;
		background-size: cover;
		background-position-x: center;
		background-size: 300px 300px;

		animation-name: fade-in;
		animation-duration: 1s;
	}
}
.industries-selector__wrapper::-webkit-scrollbar {
	display: none;
	scrollbar-width: none;
	-ms-overflow-style: none;
}